In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\harun-ur-rashid\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\harun-ur-rashid\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\harun-ur-rashid\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\harun-ur-rashid\anaconda3\lib\site-packages (from pandas) (1.16.5)
Requirement already satisfied: six>=1.5 in c:\users\harun-ur-rashid\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)

### Dataframe Basic

In [2]:
import pandas as pd

In [3]:
weather_data = {
    'Day':['Saturday','Sunday','Monday','Tuesday'],
    'Temperature':[20,35,40,25],
    'Event':['Rain','Sunny','Sunny','Rain']
}

In [4]:
data = pd.DataFrame(weather_data)

In [7]:
data.head(5)

        Day  Temperature  Event
0  Saturday           20   Rain
1    Sunday           35  Sunny
2    Monday           40  Sunny
3   Tuesday           25   Rain

In [8]:
data.tail()

        Day  Temperature  Event
0  Saturday           20   Rain
1    Sunday           35  Sunny
2    Monday           40  Sunny
3   Tuesday           25   Rain